

<div class="container-fluid sessions-new">
  <div class="row">

  <h2></h2>

  <div class="center-content custom-form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions center-block">
          <%= f.submit "".html_safe, :class => 'btn btn-large btn-default'%>
        </div>
      <% end %>


    </div>
  </div>
</div>