
.navbar-nav {
	text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;


	li {
		display: inline-block;
		width: 150px;
		height: 30px;
		color: whitesmoke;
		margin: 10px 30px 10px 30px;

		img {
			position: relative;
			top: -5px
		}
	}

	li.nav-links {
		display: none;		
	}

	p {
		display: inline-block;
		margin: 5px 0px 0px 10px;
		height: 30px;
	}

	span {
		font-size: 14px;
	}
}
